/*-------------------------

GLOBAL STYLES

-------------------------*/

* {
	box-sizing: border-box;
}

body {
	margin-top: 100px;
}

/*-------------------------

LAYOUT

-------------------------*/

#mainNav {
	border: 1px solid black;
	padding: 10px 0;
}

.form-group {
	margin-left: 25px;
}

#mainContent {
	border: 1px solid red;
	min-height: 1000px;
}

#mainHeadline {
	text-align: center;
}

.inventoryCard {
	min-height: 210px;
	border-width: 2px;
	border-style: solid;
}

.border-thick {
	border-width: 4px;
}